body {
    background-color: #89d4cf;
    height: 100%;
    background-image: linear-gradient(315deg, #89d4cf 0%, #6e45e1 74%);
}
.gifs {
    margin: 0 auto;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.gif {
    transition: all 0.5s;
    padding: 5px 5px;
}

.loader {
    color: rgb(166, 255, 0);
}
input[type="text"] {
    width: 400px;
    display: inline;
}
button {
    background-color: rgb(39, 163, 163) !important;
}
.m-2 form {
    display: flex;
    justify-content: center;
}
.gif:hover {
    transform: scale(1.2);
}
